name: CI/CD para EC2 privada

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      # - name: Executar Testes automatizados
      #   run: mvn clean test    
      #   working-directory: ./projetoPI

      - name: Gerar Artefato .JAR
        run: mvn package -Dmaven.test.skip=true
        working-directory: ./projetoPI

      - name: Renomear JAR para beauty_barreto.jar
        run: |
          JAR_NAME=$(ls target/*.jar)
          mv $JAR_NAME target/beauty_barreto.jar
          echo "Renomeado para target/beauty_barreto.jar"
        working-directory: ./projetoPI

      - name: Enviando JAR para EC2 Pública
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST_PUBLICO }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/backend/
          ARGS: "-rltgoDzvO --delete" 
          SOURCE: ./projetoPI/target/*.jar

      - name: Enviando Consumer para EC2 Pública
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST_PUBLICO }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/backend/
          SOURCE: ./projetoPI/consumer/

      - name: Clean SSH known_hosts
        run: rm -f ~/.ssh/known_hosts
                  
      - name: Executar Comando Shell na EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST_PUBLICO }} 
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}  

          script: |
            set -e

            INSTANCE_KEY="instance-key-rest.pem"
            USUARIO_IP=${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}
            echo "usuario@ip configurado: $USUARIO_IP"

            echo "Tentando enviar arquivos /home/${{ secrets.REMOTE_USER }}/backend/ para EC2 privada"
            scp -o StrictHostKeyChecking=no -i $INSTANCE_KEY -r \
              /home/${{ secrets.REMOTE_USER }}/backend/ \
              $USUARIO_IP:~/
            echo "Arquivos enviados a EC2 privada"

            echo "Movendo JAR para a pasta correta"
            ssh -o StrictHostKeyChecking=no -i $INSTANCE_KEY $USUARIO_IP "sudo mv ~/backend/beauty_barreto.jar /usr/share/api/beauty_barreto.jar"
            echo "Arquivo movido com sucesso"

            echo "Movendo Consumer para a pasta correta"
            ssh -o StrictHostKeyChecking=no -i $INSTANCE_KEY $USUARIO_IP "sudo mv ~/backend/* /usr/share/consumer/"
            echo "Arquivos movidos com sucesso"
            
            echo "Enviando credenciais do Google Calendar para a EC2"
            echo "${{ secrets.GOOGLE_CREDENTIALS_BASE64 }}" | base64 -d > credentials.json
            scp -o StrictHostKeyChecking=no -i $INSTANCE_KEY credentials.json $USUARIO_IP:~/credentials.json
            ssh -o StrictHostKeyChecking=no -i $INSTANCE_KEY $USUARIO_IP "sudo mv ~/credentials.json /usr/share/api/credentials.json"
            echo "Credenciais enviadas para a EC2 Privada"

            ssh -o StrictHostKeyChecking=no -i $INSTANCE_KEY $USUARIO_IP << EOF
              echo "GMAIL_PASSWORD=${{ secrets.GMAIL_PASSWORD }}" | sudo tee .env > /dev/null
              sudo docker compose up -d
            EOF

            echo "Servico iniciado via Docker Compose"
